:root {
    --primary-color: rgb(28, 32, 75);
    --navy-200: rgb(187, 192, 255);
    --purple-600: rgb(81, 71, 234);
    --purple-500: rgb(112, 120, 201);
    --shadow-color: rgba(216, 216, 216, 1);
}